/* 팀 목록 */
ul.team_list {
    display: flex;
    gap: 1.9531vw;
    padding: 20px 0px 15px;
    margin: 30px 0px 35px;
    background-color: var(--basic-bg-color);
    &:last-child {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    li {
        width: 25%;
        a {
            display: block;
            line-height: 0;
            figure {
                .tm_photo {
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
                figcaption {
                    padding: 10px;
                    margin-top: 20px;
                    span {
                        display: flex;
                        width: 100%;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        line-height: 1;
                        &.tm_logo {
                            height: 3.2422vw;
                            img {
                                width: auto;
                                max-height: 100%;
                            }
                        }
                        &.tm_txt {
                            margin-top: 20px;
                            font-weight: bold;
                        }
                    }
                    &.shohoku {
                        span.tm_txt {
                            color: #BE0003;
                        }
                    }
                    &.ryonan {
                        span.tm_txt {
                            color: #1A2B7D;
                        }
                    }
                    &.shoyo {
                        span.tm_txt {
                            color: #278A2F;
                        }
                        img {
                            width:7.8125vw;
                            height:2.1875vw;
                        }
                    }
                    &.kainan {
                        span.tm_txt {
                            color: #552582;
                        }
                    }
                }
            }
        }
    }
    &.reduce {
        position: sticky;
        top: 0px;
        gap: 25px;
        box-shadow: 0px 5px 5px 5px var(--basic-bg-color);
        li {
            width: auto;
            a {
                figure {
                    .tm_photo {
                        display: none;
                    }
                    figcaption {
                        padding: 12px 20px;
                        border-radius: 12px;
                        margin-top: 0px;
                        transition: 0.3s ease background-color,0.3s ease color;
                        span {
                            &.tm_logo {
                                height: 42px;
                            }
                            &.tm_txt {
                                margin-top: 8px;
                                font-size: 14px;
                                color: 0.3s ease color;
                            }
                        }
                        &.shohoku {
                            span.tm_logo {
                                img {
                                    width: 100px;
                                    height: 42px;
                                }
                            }
                        }
                        &.ryonan {
                            span.tm_logo {
                                img {
                                    width: 78px;
                                    height: 39px;
                                }
                            }
                        }
                        &.shoyo {
                            span.tm_logo {
                                img {
                                    width: 100px;
                                    height: 28px;
                                }
                            }
                        }
                        &.kainan {
                            span.tm_logo {
                                img {
                                    width: 87px;
                                    height: 40px;
                                }
                            }
                        }
                    }
                }
                &:hover {
                    figcaption {
                        background-color: var(--label-bg-color);
                        box-shadow: inset 0 0 4px var(--empty-bg-color);
                    }
                }
                &.active {
                    figcaption {
                        &.shohoku {
                            background-color: #BE0003;
                            span.tm_txt {
                                color: var(--focus-txt-black);
                            }
                        }
                        &.ryonan {
                            background-color: #1A2B7D;
                            span.tm_txt {
                                color: #87CEEB;
                            }
                        }
                        &.shoyo {
                            background-color: #278A2F;
                            span.tm_txt {
                                color: white;
                            }
                        }
                        &.kainan {
                            background-color: #552582;
                            span.tm_txt {
                                color: #FDB927;
                            }
                        }
                    }
                }
            }
        }
    }
}