.viewer {
    .date_time {
        opacity: 0.75;
        font-size: var(--datetime-f-size);
        line-height: 150%;
    }
    .content {
        margin-top: 8px;
        white-space: pre-line;
        opacity: 0.95;
        font-size: var(--desc-f-size);
        line-height: 150%;
    }
}

/* Tablet */
@media all and (width <= 1366px) and (height <= 1366px)  {
    .viewer {
        .content {
            margin-top: 7px;
        }
    }

    /* Mobile */
    @media (min-aspect-ratio:16/9) or (max-aspect-ratio:9/16) {
        .viewer {
            .content {
                margin-top: 6px;
            }
        }
    }
}