@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap&subset=korean');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap&subset=latin');

:root {
    --focus-txt-color: black;
    --basic-txt-color: #222222;
    --label-txt-color: #444444;
    --support-txt-color: #666666;
    --point-color: orangered;
    --point-alpha-color: rgba(255, 69, 0, 0.1);
    --focus-bg-color: white;
    --basic-bg-color: #E9E9E9;
    --label-bg-color: #D9D9D9;
    --empty-bg-color: #A9A9A9;
    --support-bg-color: #898989;
    --modal-bg-color: rgba(34,34,34,0.7);
    --line-color: #C9C9C9;
    --progressing-color: deepskyblue;
}
body {
    margin: 0px;
    font-family: "Libre Franklin", "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 400;
    word-break: keep-all;
    line-height: 150%;
    color: var(--basic-txt-color);
    background-color: #E9E9E9;
}
a {
    color: var(--basic-txt-color);
    text-decoration: none;
}
a:hover {
    color: var(--point-color);
}
button {
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-radius: 0px;
    font-family: "Libre Franklin", "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 400;
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    cursor: pointer;
    outline: 0px;
}
button:disabled {
    cursor: default;
}
img {
    max-width: 100%;
    height: auto;
    margin: 0px;
    border-width: 0px;
    vertical-align: middle;
}
h1,h2,h3,h4,h5 {
    color: var(--basic-txt-color);
    font-weight: 600;
    margin: 0px;
}
h2 {
    font-size: 40px;
    line-height: 1;
}
h3 {
    font-size: 24px;
    line-height: 1;
}
p {
    margin: 0px;
}
ul,ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
li {
    padding: 0px;
}
dl,dt,dd {
    margin: 0px;
}
hr {
    display: none;
}
figure {
    margin: 0px;
}
fieldset {
    border-width: 0px;
    margin: 0px;
    padding: 0px;
}
legend {
    height: 0px;
    visibility: hidden;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
    font-family: "Libre Franklin", "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 400;
    border-radius: 0px;
    border-width: 0px;
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    outline: 0px;
}
textarea {
    resize: none;
}