@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap&subset=korean');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap&subset=latin');


body {
    margin: 0px;
    font-family: "Libre Franklin", "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 400;
    word-break: keep-all;
    line-height: 150%;
    color: #222222;
    background-color: #E9E9E9;
}
a {
    color: #222222;
    text-decoration: none;
}
a:hover {
    color: orangered;
}
img {
    max-width: 100%;
    height: auto;
    margin: 0px;
    border-width: 0px;
}
h1,h2,h3,h4,h5 {
    color: #222222;
    font-weight: 600;
    margin: 0px;
}
h2 {
    font-size: 40px;
    line-height: 1;
}
h3 {
    font-size: 24px;
    line-height: 1;
}
p {
    margin: 0px;
}
ul,ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
li {
    padding: 0px;
}
dl,dt,dd {
    margin: 0px;
}
hr {
    display: none;
}
figure {
    margin: 0px;
}