@import "/app/vwvh";

$divceWidth: 2560px;
$divceHeight: 1440px;

/* Wrapper */
#wrapper {
    min-height: calc(100vh + 100px);
    min-height: calc(100dvh + 100px);
    padding-left: 361px;
}

/* Header */
header#header {
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 361px;
    height: 100%;
    padding: get-vh(100px,$divceHeight) 39px;
    border-right: 1px solid var(--line-color);
    box-sizing: border-box;
    text-align: center;
    h1 {
        line-height: 0;
        svg {
            width: 100%;
            fill: var(--basic-txt-color);
        }
    }
}

/* Contents */
main#contents {
    position: relative;
    min-height: 100vh;
    min-height: 100dvh;
    padding: get-vh(97px,$divceHeight) 80px get-vh(100px,$divceHeight);
    box-sizing: border-box;
    h2 {
        margin-bottom: 40px;
    }
}

/* Footer */
footer#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100px;
    padding: 0px 40px;
    text-align: center;
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        left: 40px;
        right: 40px;
        height: 1px;
        background-color: var(--label-bg-color);
    }
    p.copyright {
        font-size: var(--name-f-size);
        color: var(--support-txt-color);
    }
}

/* Full HD */
@media all and (width <= 1920px) {
    /* Wrapper */
    #wrapper {
        padding-left: 321px;
    }

    /* Header */
    header#header {
        width: 321px;
    }
}

/* Tablet */
@media all and (width <= 1366px) and (height <= 1366px)  {
    /* Wrapper */
    #wrapper {
        padding-left: 0px;
    }

    /* Header */
    header#header {
        width: 100%;
        height: auto;
        padding: 0px;
        border-right-width: 0px;
        border-bottom: 1px solid var(--line-color);
        background-color: var(--basic-bg-color);
        h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 75px;
            svg {
                width: auto;
                height: 25px;
            }
        }
    }

    /* Contents */
    main#contents {
        padding: 136px 40px 80px;
        h2 {
            margin-bottom: 30px;
        }
    }

    /* Tablet 세로모드 */
    @media (orientation:portrait) {
        /* Wrapper */
        #wrapper {
            min-height: 100vh;
            min-height: 100dvh;
        }

        /* Contents */
        main#contents {
            min-height: calc(100vh - 100px);
            min-height: calc(100dvh - 100px);
        }
    }
    
}

/* Mobile */
@media all and (width <= 932px) and (height <= 932px) {
    /* Header */
    header#header {
        h1 {
            height: 59px;
            svg {
                width: auto;
                height: 19px;
            }
        }
    }

    /* Contents */
    main#contents {
        padding: 99px 20px 60px;
        h2 {
            margin-bottom: 25px;
        }
    }

    /* Footer */
    footer#footer {
        height: 80px;
        padding: 0px 20px;
        &:before {
            left: 20px;
            right: 20px;
            height: 1px;
        }
        p.copyright {
            font-size: var(--name-f-size);
            color: var(--support-txt-color);
        }
    }

    /* 세로모드 */
    @media (orientation:portrait) {
        /* Contents */
        main#contents {
            min-height: calc(100vh - 80px);
            min-height: calc(100dvh - 80px);
        }
    }
}