@import "/app/vwvh";

$divceWidth: 2560px;
$divceHeight: 1440px;

/* Wrapper */
#wrapper {
    position: relative;
    padding-left: 361px;
    /* height: 100vh;
    height: -webkit-fill-available;
    overflow-x: hidden;
    overflow-y: auto; */
}

/* Header */
header#header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 361px;
    height: 100%;
    padding: get-vh(100px,$divceHeight) 40px;
    border-right: 1px solid var(--line-color);
    box-sizing: border-box;
    text-align: center;
    h1 {
        line-height: 0;
        svg {
            width: 100%;
            fill: var(--basic-txt-color);
        }
    }
}

/* Contents */
main#contents {
    min-height: 100vh;
    /* min-height: -webkit-fill-available; */
    padding: get-vh(96px,$divceHeight) 80px get-vh(100px,$divceHeight);
    box-sizing: border-box;
}

/* Footer */
footer#footer {
    position: relative;
    padding: 26px 40px;
    text-align: center;
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        left: 40px;
        right: 40px;
        height: 1px;
        background-color: var(--label-bg-color);
    }
    p.copyright {
        font-size: 14px;
        color: var(--support-txt-color);
    }
}