.home {
    max-width: 1024px;
    margin: 0px auto;
    text-align: center;
    h2 {
        font-size: 60px;
        line-height: 1;
    }
    p.intro_msg {
        margin: 40px 0px;
        font-size: 20px;
        line-height: 160%;
    }
    .banner_photo {
        img {
            width: auto;
            max-height: 720px;
        }
    }
}