@import "/app/mixin";
@import "/app/variables";
@import "/app/vwvh";

$divceWidth: $QuadHDMax;
$divceHeight: $QuadHDMin;

.home {
    text-align: center;
    h2 {
        font-size: get-vw(64px,$divceWidth);
        line-height: 1;
        margin-bottom: 0px !important;
    }
    p.intro_msg {
        margin: get-vw(36px,$divceWidth) 0px get-vw(44px,$divceWidth);
        font-size: get-vw(24px,$divceWidth);
        line-height: 160%;
        a {
            transition: 0.3s ease color;
        }
    }
    .banner_photo {
        img {
            width: auto;
            height: 100%;
            max-height: get-vw(760px,$divceWidth);
        }
    }
}

@include Tablet {
    $divceWidth: $TabletMax;
    $divceHeight: $TabletMin;

    .home {
        h2 {
            font-size: get-vh(58px,$divceHeight);
        }
        p.intro_msg {
            margin: get-vh(28px,$divceHeight) 0px get-vh(36px,$divceHeight);
            font-size: get-vh(24px,$divceHeight);
            line-height: 160%;
            a {
                transition: 0.3s ease color;
            }
        }
        .banner_photo {
            img {
                width: auto;
                height: 100%;
                max-height: get-vh(540px,$divceHeight);
            }
        }
    }

    /* Tablet 세로모드 */
    @media (orientation:portrait) {
        $divceWidth: $TabletMin;
        $divceHeight: $TabletMax;

        .home {
            h2 {
                font-size: get-vh(56px,$divceHeight);
            }
            p.intro_msg {
                margin: get-vh(34px,$divceHeight) 0px get-vh(42px,$divceHeight);
                font-size: get-vh(22px,$divceHeight);
                line-height: 160%;
            }
            .banner_photo {
                img {
                    width: 90%;
                    height: auto;
                    max-height: none;
                }
            }
        }
    }
}

@include Mobile {
    $divceWidth: $MobileMax;
    $divceHeight: $MobileMin;

    .home {
        h2 {
            font-size: get-vw(44px,$divceWidth);
        }
        p.intro_msg {
            margin: get-vw(20px,$divceWidth) 0px get-vw(30px,$divceWidth);
            font-size: get-vw(18px,$divceWidth);
            line-height: 160%;
        }
        .banner_photo {
            padding: 0px 60px;
            img {
                width: 100%;
                height: auto;
                max-height: none;
            }
        }
    }

    /* 세로모드 */
    @media (orientation:portrait) {
        $divceWidth: $MobileMin;
        $divceHeight: $MobileMax;

        .home {
            h2 {
                font-size: get-vw(34px,$divceWidth);
            }
            p.intro_msg {
                margin: get-vw(20px,$divceWidth) 0px get-vw(30px,$divceWidth);
                font-size: get-vw(16px,$divceWidth);
                line-height: 160%;
            }
            .banner_photo {
                padding: 0px;
            }
        }
    }
}