@import "/app/vwvh";

$divceWidth: 2560px;
$divceHeight: 1440px;

.home {
    text-align: center;
    h2 {
        font-size: get-vw(62px,$divceWidth);
        line-height: 1;
    }
    p.intro_msg {
        margin: get-vw(36px,$divceWidth) 0px get-vw(44px,$divceWidth);
        font-size: get-vw(22px,$divceWidth);
        line-height: 160%;
        a {
            transition: 0.3s ease color;
        }
    }
    .banner_photo {
        img {
            height: get-vh(870px,$divceHeight);
            width: auto;
            max-width: 100%;
        }
    }
}