
/* GNB */
button#btn_gnb {
    display: none;
}
nav#gnb {
    padding-top: 16px;
    ul {
        li {
            margin-top: 36px;
            font-size: var(--stit-f-size);
            text-transform: uppercase;
            a {
                transition: 0.3s ease color;
                &.active {
                    color: var(--point-color);
                    text-decoration: underline 2px dotted var(--point-color);
                    text-underline-offset: 6px;
                }
            }
        }
    }
}
.bg_modal_gnb {
    visibility: hidden;
}

/* Tablet */
@media all and (width <= 1366px) and (height <= 1366px)  {
    button#btn_gnb {
        position: absolute;
        top: 25px;
        right: 40px;
        display: block;
        width: 28px;
        height: 25px;
        overflow: hidden;
        span {
            position: absolute;
            display: block;
            &.bar {
                width: 28px;
                height: 3px;
                background-color: var(--basic-txt-color);
                transition: 0.3s ease all;
                &:nth-child(1) {
                    left: 0px;
                    top: 0px;
                }
                &:nth-child(2) {
                    right: 0px;
                    top: 11px;
                }
                &:nth-child(3) {
                    left: 0px;
                    bottom: 0px;
                }
            }
            &.txt {
                top: -999%;
                left: -999%;
            }
        }
        &.on {
            span.bar {
                &:nth-child(1) {
                    top: 8px;
                    left: -2px;
                    width: 20px;
                    transform: rotate(-45deg);
                }
                &:nth-child(2) {
                    top: 8px;
                    right: -2px;
                    width: 20px;
                    transform: rotate(45deg);
                }
            }
        }
    }
    nav#gnb {
        position: relative;
        z-index: 10;
        overflow: hidden;
        height: 0px;
        padding: 0px;
        background-color: var(--basic-bg-color);
        transition: 0.3s ease all;
        ul {
            visibility: hidden;
            li {
                margin-top: 0px;
                padding: 5px 40px;
                &:first-child {
                    padding-top: 2px;
                }
                a {
                    display: block;
                    padding: 15px 15px 14px;
                    border-radius: 12px;
                    line-height: 1;
                    &.active {
                        text-decoration: none;
                        background-color: var(--point-alpha-color);
                    }
                }
            }
        }
        &.on {
            height: 305px;
            padding-bottom: 22px;
            ul {
                visibility: visible;
            }
        }
    }
    #bg_modal_gnb {
        visibility: hidden;
        position: fixed;
        z-index: 9;
        inset: 76px 0px 0px;
        background-color: transparent;
        transition: 0.3s ease all;
        &.on {
            visibility: visible;
            background-color: var(--modal-bg-color);
        }
    }

    /* Mobile */
    @media (min-aspect-ratio:16/9) or (max-aspect-ratio:9/16) {
        button#btn_gnb {
            top: 20px;
            right: 20px;
            width: 22px;
            height: 19px;
            span {
                &.bar {
                    width: 22px;
                    height: 2px;
                    &:nth-child(2) {
                        top: 8px;
                    }
                }
            }
            &.on {
                span.bar {
                    &:nth-child(1) {
                        top: 6px;
                        width: 16px;
                    }
                    &:nth-child(2) {
                        top: 6px;
                        width: 16px;
                    }
                }
            }
        }
        nav#gnb {
            ul {
                li {
                    margin-top: 0px;
                    padding: 5px 20px;
                    &:first-child {
                        padding-top: 5px;
                    }
                    a {
                        padding: 13px 12px 12px;
                        border-radius: 12px;
                        line-height: 1;
                        &.active {
                            text-decoration: none;
                            background-color: var(--point-alpha-color);
                        }
                    }
                }
            }
            &.on {
                height: 275px;
                padding-bottom: 20px;
            }
        }
        #bg_modal_gnb {
            inset: 60px 0px 0px;
        }
    }
}
