
/* GNB */
nav#gnb {
    padding-top: 16px;
    ul {
        li {
            margin-top: 36px;
            font-size: 26px;
            text-transform: uppercase;
            a {
                transition: 0.3s ease color;
                &.active {
                    color: var(--point-color);
                    text-decoration: underline 2px dotted var(--point-color);
                    text-underline-offset: 6px;
                }
            }
        }
    }
}