form.auth_form {
    position: absolute;
    top: calc(50% - 8px);
    left: 50%;
    width: 500px;
    transform: translate(-50%,-50%);
    fieldset {
        padding: 20px;
        border: 1px solid var(--line-color);
        border-radius: 12px;
        text-align: center;
        legend {
            visibility: visible;
            height: auto;
            line-height: 1;
        }
        .field {
            input[type="password"] {
                width: 100% ;
                height: 50px;
                padding: 11px 14px 12px;
                text-align: center;
                line-height: 150%;
                vertical-align: top;
                border: 1px solid var(--line-color);
                border-radius: 6px;
                background-color: var(--focus-bg-color);
                transition: 0.5s ease color,0.5s ease box-shadow;
                &:focus {
                    color: var(--focus-txt-color);
                    box-shadow: 0px 0px 12px var(--support-bg-color);
                }
            }
        }
        p.error_msg {
            margin-top: 6px;
            font-size: var(--name-f-size);
            color: var(--point-color);
        }
        .success_msg {
            margin-bottom: 24px;
        }
        .btn_set {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0px 12px;
            margin-top: 12px;
            text-align: right;
            line-height: 1;
            button {
                width: 100%;
                height: 50px;
                line-height: 1;
                border-radius: 6px;
                transition: 0.5s ease box-shadow;
                &[type="submit"] {
                    font-weight: 500;
                    color: var(--focus-bg-color);
                    background-color: var(--point-color);
                    &:hover,&:focus {
                        box-shadow: 0px 0px 12px var(--point-color);
                    }
                }
            }
        }
    }
}



/* Mobile */
@media all and (width <= 932px) and (height <= 932px) {
    form.auth_form {
        position: static;
        top: 0px;
        left: 0px;
        width: 100%;
        transform: translate(0%,0%);
    }

    /* 세로모드 */
    @media (orientation:portrait) {
        form.auth_form {
            position: absolute;
            top: 50%;
            left: 20px;
            right: 20px;
            width: auto;
            transform: translateY(-50%);
        }
    }
}