@import "/app/vwvh";

$divceWidth: 2560px;
$divceHeight: 1440px;

ul.charater_list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: get-vw(40px,$divceWidth);
    li {
        .photo {
            line-height: 1;
            background-color: var(--empty-bg-color);
            img {
                width: 100%;
                height: auto;
                vertical-align: top;
            }
        }
        dl.info {
            display: grid;
            grid-template-columns: 100px auto;
            gap: 2px;
            margin-top: 2px;
            font-size: var(--desc-f-size);
            dt,dd {
                display: flex;
                align-items: center;
                padding: 10px 15px;
            }
            dt {
                color: var(--label-txt-color);
                background-color: var(--label-bg-color);
            }
            dd {
                background-color: var(--focus-bg-color);
            }
        }
    }
}

/* Tablet */
@media all and (max-width:1366px) {
    $divceWidth: 1366px;
    $divceHeight: 1024px;

    ul.charater_list {
        grid-template-columns: repeat(2,1fr);
        gap: get-vw(40px,$divceWidth);
        li {
            .photo {
                img {
                    height: get-vh(300px,$divceHeight);
                    object-fit: cover;
                }
            }
        }
    }

    /* 새로모드 */
    @media all and (max-device-aspect-ratio:1/1) {
        $divceWidth: 1024px;
        $divceHeight: 1366px;

        ul.charater_list {
            grid-template-columns: repeat(1,1fr);
            gap: 30px;
            li {
                dl.info {
                    grid-template-columns: 125px auto;
                }
            }
        }
    }
}