@import "/app/vwvh";

$divceWidth: 2560px;
$divceHeight: 1440px;

ul.charater_list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: get-vw(40px,$divceWidth);
    li {
        .photo {
            line-height: 1;
            background-color: var(--empty-bg-color);
            img {
                width: 100%;
                height: auto;
                vertical-align: top;
            }
        }
        dl.info {
            display: grid;
            grid-template-columns: 100px auto;
            gap: 2px;
            margin-top: 2px;
            font-size: var(--desc-f-size);
            dt,dd {
                display: flex;
                align-items: center;
                padding: 10px 15px;
            }
            dt {
                color: var(--label-txt-color);
                background-color: var(--label-bg-color);
            }
            dd {
                background-color: var(--focus-bg-color);
            }
        }
    }
}

/* Tablet */
@media all and (width <= 1366px) and (height <= 1366px)  {
    $divceWidth: 1366px;
    $divceHeight: 1024px;

    ul.charater_list {
        grid-template-columns: repeat(2,1fr);
        gap: get-vw(40px,$divceWidth);
        li {
            .photo {
                img {
                    height: get-vh(300px,$divceHeight);
                    object-fit: cover;
                }
            }
        }
    }

    /* Tablet 세로모드 */
    @media (orientation:portrait) {
        $divceWidth: 1024px;
        $divceHeight: 1366px;

        ul.charater_list {
            grid-template-columns: repeat(1,1fr);
            gap: 30px;
            li {
                dl.info {
                    grid-template-columns: 125px auto;
                }
            }
        }
    }

    /* Mobile */
    @media (min-aspect-ratio:16/9) or (max-aspect-ratio:9/16) {
        $divceWidth: 932px;
        $divceHeight: 430px;
    
        ul.charater_list {
            gap: 20px;
            li {
                .photo {
                    img {
                        height: get-vh(200px,$divceHeight);
                    }
                }
                dl.info {
                    grid-template-columns: 90px auto;
                }
            }
        }
    
        /* Mobile 세로모드 */
        @media (orientation:portrait) {
            $divceWidth: 430px;
            $divceHeight: 932px;
    
            ul.charater_list {
                li {
                    .photo {
                        img {
                            height: get-vh(200px,$divceHeight);
                        }
                    }
                    dl.info {
                        grid-template-columns: 90px auto;
                    }
                }
            }
        }
    }
}