@import "/app/mixin";
@import "/app/variables";
@import "/app/vwvh";

$divceWidth: $QuadHDMax;
$divceHeight: $QuadHDMin;

ul.charater_list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: get-vw(40px,$divceWidth);
    li {
        .photo {
            line-height: 1;
            background-color: var(--empty-bg-color);
            img {
                width: 100%;
                height: auto;
                vertical-align: top;
            }
        }
        dl.info {
            display: grid;
            grid-template-columns: 100px auto;
            gap: 2px;
            margin-top: 2px;
            font-size: var(--desc-f-size);
            line-height: 150%;
            dt,dd {
                display: flex;
                align-items: center;
                padding: 10px 15px;
            }
            dt {
                color: var(--label-txt-color);
                background-color: var(--label-bg-color);
            }
            dd {
                background-color: var(--focus-bg-color);
            }
        }
    }
}

@include Tablet {
    $divceWidth: $TabletMax;
    $divceHeight: $TabletMin;

    ul.charater_list {
        grid-template-columns: repeat(2,1fr);
        gap: get-vw(40px,$divceWidth);
        li {
            .photo {
                img {
                    height: get-vh(300px,$divceHeight);
                    object-fit: cover;
                }
            }
        }
    }

    /* 세로모드 */
    @media (orientation:portrait) {
        $divceWidth: $TabletMin;
        $divceHeight: $TabletMax;

        ul.charater_list {
            grid-template-columns: repeat(1,1fr);
            gap: 30px;
            li {
                .photo {
                    img {
                        height: get-vh(500px,$divceHeight);
                        object-fit: cover;
                    }
                }
                dl.info {
                    grid-template-columns: 125px auto;
                }
            }
        }
    }
}

@include Mobile {
    $divceWidth: $MobileMax;
    $divceHeight: $MobileMin;

    ul.charater_list {
        gap: 20px;
        li {
            .photo {
                img {
                    height: get-vh(200px,$divceHeight);
                }
            }
            dl.info {
                grid-template-columns: 90px auto;
            }
        }
    }

    /* 세로모드 */
    @media (orientation:portrait) {
        $divceWidth: $MobileMin;
        $divceHeight: $MobileMax;

        ul.charater_list {
            li {
                .photo {
                    img {
                        height: get-vh(250px,$divceHeight);
                    }
                }
                dl.info {
                    grid-template-columns: 90px auto;
                }
            }
        }
    }
}