.gb_editor {
    fieldset {
        padding: 24px;
        border-radius: 12px;
        background-color: var(--line-color);
        dl {
            display: grid;
            gap: 12px;
            grid-template-columns: repeat(2,1fr);
            .field {
                display: grid;
                grid-template-columns: 150px auto;
                overflow: hidden;
                border-radius: 6px;
                transition: 0.5s ease box-shadow;
                &.email,
                &.content {
                    grid-column: 1 / span 2;
                }
                dt {
                    color: var(--label-txt-color);
                    padding: 13px 14px 11px;
                    line-height: 150%;
                    background-color: var(--label-bg-color);
                    transition: 0.5s ease font-weight;
                    span.content_length {
                        font-size: var(--datetime-f-size);
                        color: var(--support-txt-color);
                        white-space: nowrap;
                        strong {
                            font-weight: 500;
                            &.pass {
                                font-weight: 700;
                                color: var(--pass-color);
                            }
                        }
                    }
                }
                dd {
                    background-color: var(--focus-bg-color);
                    &.email,
                    &.content {
                        grid-column: 2 / span 3;
                    }
                    input,textarea {
                        width: 100%;
                        height: 100%;
                        padding: 10px 14px 12px;
                        line-height: 150%;
                        vertical-align: top;
                    }
                    input {
                        height: 48px;
                    }
                    textarea {
                        padding: 13px 14px 11px;
                        height: 240px;
                    }
                }
                &:has(*:focus) {
                    box-shadow: 0px 0px 12px var(--support-bg-color);
                    dt {
                        font-weight: 500;
                    }
                    dd {
                        input,textarea {
                            color: var(--focus-txt-color);
                        }
                    }
                }
            }
        }
        .btn_submit {
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 0px 12px;
            margin-top: 12px;
            text-align: right;
            line-height: 1;
        }
    }
}

/* Tablet */
@media all and (width <= 1366px) and (height <= 1366px)  {
    .gb_editor {
        fieldset {
            dl {
                .field {
                    dt {
                        padding: 12px 13px 10px;
                    }
                    dd {
                        input {
                            padding: 9px 13px 11px;
                            height: 45px;
                        }
                        textarea {
                            padding: 12px 13px 11px;
                            height: 226px;
                        }
                    }
                }
            }
        }
    }

    /* Tablet 세로모드 */
    @media (orientation:portrait) {
        .gb_editor {
            fieldset {
                dl {
                    .field {
                        grid-template-columns: 110px auto;
                        dd {
                            textarea {
                                height: 182px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* Mobile */
    @media (min-aspect-ratio:16/9) or (max-aspect-ratio:9/16) {
        .gb_editor {
            fieldset {
                padding: 20px;
                border-radius: 10px;
                dl {
                    .field {
                        grid-template-columns: 100px auto;
                        dt {
                            padding: 10px 12px 9px;
                        }
                        dd {
                            input {
                                padding: 7px 12px 8px;
                                height: 41px;
                            }
                            textarea {
                                padding: 10px 12px 9px;
                                height: 168px;
                            }
                        }
                    }
                }
            }
        }

        /* Mobile 세로모드 */
        @media (orientation:portrait) {
            .gb_editor {
                fieldset {
                    dl {
                        .field {
                            grid-template-columns: 90px auto;
                            grid-column: 1 / span 2;
                            dd {
                                textarea {
                                    height: 190px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}