.gb_btn_set {
    position: absolute;
    top: 24px;
    right: 0px;
    display: flex;
    gap: 0px 8px;
    button {
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        padding: 3px;
        line-height: 0;
        text-align: center;
        border-radius: 6px;
        border: 1px solid var(--line-color);
        box-sizing: border-box;
        transition: 0.5s ease border-color;
        svg {
            width: 20px;
            height: 20px;
            fill: var(--support-txt-color);
            transition: 0.5s ease fill;
        }
        span.txt {
            position: absolute;
            top: -999px;
            left: -999px;
        }
        &:hover {
            border-color: var(--point-color);
            svg {
                fill: var(--focus-txt-color);
            }
        }
    }
}