ul.gb_list {
    margin-top: 40px;
    border-top: 1px dashed var(--line-color);
    li {
        position: relative;
        padding: 24px 0px;
        border-bottom: 1px dashed var(--line-color);
    }
}

/* Tablet */
@media all and (width <= 1366px) and (height <= 1366px)  {
    ul.gb_list {
        margin-top: 30px;
        li {
            padding: 20px 0px;
        }
    }
}

/* Mobile */
@media all and (width <= 932px) and (height <= 932px) {
    ul.gb_list {
        margin-top: 25px;
        li {
            padding: 16px 0px;
        }
    }
}