@import "/app/mixin";

ul.gb_list {
    margin-top: 40px;
    border-top: 1px dashed var(--line-color);
    li {
        position: relative;
        padding: 24px 0px;
        border-bottom: 1px dashed var(--line-color);
    }
}

@include Tablet {
    ul.gb_list {
        margin-top: 30px;
        li {
            padding: 20px 0px;
        }
    }
}

@include Mobile {
    ul.gb_list {
        margin-top: 25px;
        li {
            padding: 16px 0px;
        }
    }
}