.gb_pager {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    button {
        width: 24px;
        height: 24px;
        line-height: 0;
        &:disabled {
            opacity: 0.3;
        }
        svg {
            width: 100%;
            height: 100%;
        }
    }
    .page_num {
        line-height: 1;
    }
}