button.btn {
    padding: 13px 14px 12px;
    line-height: 1;
    border-radius: 6px;
    transition: 0.5s ease box-shadow;
    &[type="submit"] {
        font-weight: 500;
        color: var(--focus-bg-color);
        background-color: var(--point-color);
        &:hover,&:focus {
            box-shadow: 0px 0px 12px var(--point-color);
        }
    }
    &[type="button"] {
        color: var(--basic-txt-color);
        background-color: var(--basic-bg-color);
        &:hover,&:focus {
            box-shadow: 0px 0px 12px var(--support-bg-color);
        }
    }
    &:disabled {
        opacity: 0.5;
    }
}

/* Tablet */
@media all and (width <= 1366px) and (height <= 1366px)  {
    button.btn {
        padding: 12px 13px 11px;
    }

    /* Mobile */
    @media (min-aspect-ratio:16/9) or (max-aspect-ratio:9/16) {
        button.btn {
            padding: 11px 12px;
        }
    }
}