.gb_write {
    margin-top: 40px;
    fieldset {
        dl {
            display: grid;
            gap: 12px 4px;
            grid-template-columns: 150px auto 150px auto;
            padding: 16px;
            background-color: var(--line-color);
            dt {
                color: var(--label-txt-color);
                padding: 10px;
                background-color: var(--label-bg-color);
            }
            dd {
                background-color: var(--focus-bg-color);
                &.email,
                &.content {
                    grid-column: 2 / span 3;
                }
                input,textarea {
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    box-sizing: border-box;
                }
            }
        }
    }
}