#bgm_player {
    position: fixed;
    z-index: 99;
    bottom: -104px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0px 40px;
    box-sizing: border-box;
    background-color: var(--focus-bg-color);
    transition: 0.75s ease bottom;
    &.active {
        bottom: 0px;
    }
    .progress_bar {
        position: absolute;
        top: 0px;
        left: 0px;
        width: calc(100% + 11px);
        input[type="range"] {
            position: absolute;
            z-index: 2;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 7px;
            margin: 0px;
            appearance: none;
            background: transparent;
            cursor: pointer;
            &:focus {
                outline: none;
            }
            &::-webkit-slider-runnable-track {
                width: 100%;
                height: 100%;
                appearance: none;
                background-color: transparent;
            }
            &::-webkit-slider-thumb {
                position: relative;
                top: -4px;
                left: 0px;
                width: 11px;
                height: 11px;
                border-radius: 50%;
                border-width: 0px;
                appearance: none;
                background-color: var(--progressing-color);
            }

            &::-moz-range-track {
                width: 100%;
                height: 100%;
                appearance: none;
                background-color: transparent;
            }
            &::-moz-range-thumb {
                position: relative;
                top: -4px;
                left: 0px;
                width: 11px;
                height: 11px;
                border-radius: 50%;
                border-width: 0px;
                appearance: none;
                background-color: var(--progressing-color);
            }
        }
        progress {
            position: absolute;
            z-index: 1;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 3px;
            appearance: none;
            &::-webkit-progress-bar {
                overflow: hidden;
                width: 100%;
                border-radius: 0px;
                background-color: var(--line-color);
            }
            &::-webkit-progress-value {
                border-radius: 0px;
                background-color: var(--progressing-color);
            }
            &::-moz-progress-bar {
                border-radius: 0px;
                background-color: var(--progressing-color);
            }
        }
    }
    span.btn_ctrl_set {
        display: inline-flex;
        align-items: center;
        button {
            svg {
                width: 100%;
                height: 100%;
                fill: var(--basic-txt-color);
            }
        }
    }
    .main_controls {
        display: flex;
        align-items: center;
        gap: 0px 40px;
        span.btn_ctrl_set {
            gap: 0px 20px;
            button {
                width: 25px;
                height: 25px;
                &.btn_player {
                    width: 50px;
                    height: 50px;
                }
                &:disabled {
                    opacity: 0.3;
                }
            }
        }
        span.play_time {
            width: 62px;
            white-space: nowrap;
            font-size: var(--datetime-f-size);
            line-height: 1;
            opacity: 0.8;
        }
    }
    .playing_info {
        display: flex;
        gap: 0px 20px;
        justify-content: center;
        align-items: center;
        .album_cover {
            width: 60px;
            height: 60px;
            border: 1px solid var(--basic-bg-color);
            box-sizing: border-box;
            line-height: 0;
            overflow: hidden;
            img.ac_thumbnail {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            svg.empty {
                width: 100%;
                height: 100%;
                fill: var(--line-color);
                background-color: var(--basic-bg-color);
            }
        }
        ul {
            li {
                line-height: 1;
                &.title {
                    font-weight: 500;
                }
                &.artist {
                    opacity: 0.8;
                    font-size: var(--name-f-size);
                    margin-top: 8px;
                }
            }
        }
    }
    .sub_controls {
        span.btn_ctrl_set {
            gap: 0px 30px;
            button {
                width: 40px;
                height: 40px;
                border: 5px solid transparent;
                border-radius: 5px;
                &.btn_repeat {
                    position: relative;
                    &.only1 {
                        &:after {
                            position: absolute;
                            top: calc(50% - 6px);
                            left: 0px;
                            content: '1';
                            display: block;
                            width: 100%;
                            color: var(--point-color);
                            text-indent: 0px;
                            text-align: center;
                            font-size: var(--datetime-f-size);
                            line-height: 1;
                            font-weight: bold;
                        }
                    }
                }
                &:disabled {
                    opacity: 0.3;
                }
            }
        }
    }
}

/* Tablet */
@media all and (width <= 1366px) and (height <= 1366px)  {
    $divceWidth: 1366px;
    $divceHeight: 1024px;

    #bgm_player {
        .playing_info {
            gap: 0px 15px;
            .album_cover {
                width: 56px;
                height: 56px;
            }
            ul {
                li {
                    line-height: 1;
                    &.title {
                        font-weight: 500;
                    }
                    &.artist {
                        opacity: 0.8;
                        font-size: var(--name-f-size);
                        margin-top: 8px;
                    }
                }
            }
        }
        .sub_controls {
            span.btn_ctrl_set {
                gap: 0px 25px;
            }
        }
    }

    /* Tablet 세로모드 */
    @media (orientation:portrait) {
        $divceWidth: 1024px;
        $divceHeight: 1366px;

        #bgm_player {
            padding-top: 34px;
            .main_controls {
                span.btn_ctrl_set {
                    gap: 0px 20px;
                    button {
                        width: 25px;
                        height: 25px;
                        &.btn_player {
                            width: 50px;
                            height: 50px;
                        }
                        &:disabled {
                            opacity: 0.3;
                        }
                    }
                }
                span.play_time {
                    width: 62px;
                    white-space: nowrap;
                    font-size: var(--datetime-f-size);
                    line-height: 1;
                    opacity: 0.8;
                }
            }
            .playing_info {
                position: absolute;
                top: 13px;
                left: 40px;
                right: 40px;
                display: block;
                padding: 0px 6px;
                border-radius: 10px;
                background: var(--point-alpha-color);
                .album_cover {
                    display: none;
                }
                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 24px;
                    li {
                        color: var(--point-color);
                        line-height: 1;
                        white-space: nowrap;
                        &.title {
                            font-size: var(--datetime-f-size);
                        }
                        &.artist {
                            opacity: 0.8;
                            font-size: var(--datetime-f-size);
                            margin-top: 0px;
                            &:before {
                                content: "";
                                display: inline-block;
                                width: 5px;
                                height: 1px;
                                vertical-align: middle;
                                margin: 0px 10px;
                                background-color: var(--point-color);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Mobile */
@media all and (width <= 932px) and (height <= 932px) {
    #bgm_player {
        height: 80px;
        bottom: -84px;
        padding: 0px 20px;
        .main_controls {
            gap: 0px 30px;
            span.btn_ctrl_set {
                gap: 0px 15px;
            }
            span.play_time {
                display: none;
            }
        }
        .playing_info {
            gap: 0px 12px;
            .album_cover {
                width: 48px;
                height: 48px;
            }
            ul {
                li {
                    line-height: 1;
                    &.title {
                        font-weight: 500;
                    }
                    &.artist {
                        opacity: 0.8;
                        font-size: var(--name-f-size);
                        margin-top: 8px;
                    }
                }
            }
        }
        .sub_controls {
            span.btn_ctrl_set {
                gap: 0px 15px;
            }
        }
    }

    /* 세로모드 */
    @media (orientation:portrait) {
        #bgm_player {
            height: 100px;
            bottom: -104px;
            padding-top: 34px;
            .main_controls {
                span.btn_ctrl_set {
                    gap: 0px 12px;
                }
            }
            .playing_info {
                left: 20px;
                right: 20px;
                ul {
                    li.artist {
                        margin-top: 0px;
                    }
                }
            }
        }
    }
}