#bgm_player {
    position: fixed;
    z-index: 99;
    bottom: -100px;
    left: 0px;
    display: grid;
    grid-template-columns: 250px auto 180px;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0px 40px;
    box-sizing: border-box;
    background-color: white;
    transition: 0.75s ease bottom;
    &.active {
        bottom: 0px;
    }
    .progress_bar {
        position: absolute;
        top: 0px;
        left: 0px;
        width: calc(100% + 11px);
        input[type="range"] {
            position: absolute;
            z-index: 2;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 7px;
            margin: 0px;
            appearance: none;
            background: transparent;
            cursor: pointer;
            &:focus {
                outline: none;
            }
            &::-webkit-slider-runnable-track {
                width: 100%;
                height: 100%;
                appearance: none;
                background-color: transparent;
            }
            &::-webkit-slider-thumb {
                position: relative;
                top: -4px;
                left: 0px;
                width: 11px;
                height: 11px;
                border-radius: 50%;
                appearance: none;
                background-color: deepskyblue;
            }
        }
        progress {
            position: absolute;
            z-index: 1;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 3px;
            appearance: none;
            &::-webkit-progress-bar {
                overflow: hidden;
                width: 100%;
                border-radius: 0px;
                background-color: #C9C9C9;
              }
              &::-webkit-progress-value {
                border-radius: 0px;
                background-color: deepskyblue;
              }
        }
    }
    span.btn_ctrl_set {
        display: inline-flex;
        align-items: center;
        button {
            fill: black;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .main_controls {
        display: flex;
        align-items: center;
        gap: 0px 40px;
        span.btn_ctrl_set {
            gap: 0px 20px;
            button {
                width: 25px;
                height: 25px;
                &.btn_player {
                    width: 50px;
                    height: 50px;
                }
            }
        }
        span.play_time {
            font-size: 13px;
            line-height: 1;
            opacity: 0.8;
        }
    }
    .playing_info {
        display: flex;
        gap: 0px 20px;
        justify-content: center;
        align-items: center;
        .album_cover {
            width: 60px;
            height: 60px;
            img {
                width: 100%;
                height: 100%;
                border: 1px solid #E9E9E9;
                object-fit: cover;
            }
        }
        ul {
            li {
                line-height: 120%;
                &.title {
                    font-weight: 500;
                }
                &.artist {
                    color: #666666;
                    font-size: 15px;
                    margin-top: 7px;
                }
            }
        }
    }
    .sub_controls {
        span.btn_ctrl_set {
            gap: 0px 30px;
            button {
                width: 40px;
                height: 40px;
                border: 5px solid transparent;
                border-radius: 5px;
                &.btn_repeat {
                    position: relative;
                    &.only1 {
                        &:after {
                            position: absolute;
                            top: calc(50% - 6px);
                            left: 0px;
                            content: '1';
                            display: block;
                            width: 100%;
                            text-indent: 0px;
                            text-align: center;
                            font-size: 12px;
                            line-height: 1;
                            font-weight: bold;
                        }
                    }
                }
                &.btn_playlist:disabled {
                    opacity: 0.3;
                }
            }
        }
    }
}