@import "/app/vwvh";

$divceWidth: 2560px;
$divceHeight: 1440px;

.st_detail {
    position: relative;
    width: get-vw(600px,$divceWidth);
    margin-left: 40px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--label-bg-color);
    transition: 0.75s ease width;
    .detail_inner {
        position: absolute;
        inset: get-vw(60px,$divceWidth) get-vw(60px,$divceWidth) auto auto;
        width: get-vw(480px,$divceWidth);
        &.fixed {
            position: fixed;
            right: calc(get-vw(60px,$divceWidth) + 80px)
        }
    }
    .cover {
        box-sizing: border-box;
        img {
            width: 100%;
            height: auto;
        }
        svg.empty {
            fill: var(--empty-bg-color);
            background-color: var(--line-color);
        }
    }
    .info {
        margin-top: 25px;
        ul {
            color: var(--support-txt-color);
            li {
                display: grid;
                grid-template-columns: 100px auto;
                font-size: 18px;
                & + li {
                    margin-top: 12px;
                }
                span {
                    font-weight: 500;
                }
            }
        }
        p.not_connect {
            margin-top: 30px;
            font-size: 32px;
            color: var(--empty-bg-color);
            text-align: center;
        }
    }
}