.st_detail {
    width: 0px;
    padding: 60px 0px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--label-bg-color);
    transition: 0.75s ease width;
    &.active {
        width: 600px;
    }
    .cover {
        width: 480px;
        height: 480px;
        margin: 0px 60px;
        box-sizing: border-box;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        svg.empty {
            fill: var(--empty-bg-color);
            background-color: var(--line-color);
        }
    }
    .info {
        margin: 25px 60px 0px;
        width: 480px;
        ul {
            color: var(--support-txt-color);
            li {
                display: grid;
                grid-template-columns: 100px auto;
                font-size: 18px;
                & + li {
                    margin-top: 12px;
                }
                span {
                    font-weight: 500;
                }
            }
        }
        p.not_connect {
            margin-top: 30px;
            font-size: 32px;
            color: var(--empty-bg-color);
            text-align: center;
        }
    }
}